html, body {
    /* The image used */
    background-image: url("https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/t/544a50b9e4b0de93022aba3a/1414156473517/the-hobbit-the-battle-of-the-five-armies-art-teases-45-minute-epic-battle-scene");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125%;
  
}
.td, .th, .tr, .tbody {
color: whitesmoke;
background-color: whitesmoke;

}

.playIMG {
  width: 150px;
}

/* #rock {
  visibility: hidden;
  width: 150px;
}

#paper {
  visibility: hidden;
  width: 150px;
}

#scissors {
  visibility: hidden;
  width: 150px;
} */
.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: black;
  text-align: center;
  weight: bold;
  color: gray;
}